@font-face {
	font-family: "TT Norms";
	src: url("TTNorms-Medium.eot");
	src: local("TT Norms Medium"), local("TTNorms-Medium"),
		url("TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
		url("TTNorms-Medium.woff2") format("woff2"),
		url("TTNorms-Medium.woff") format("woff"),
		url("TTNorms-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TT Norms";
	src: url("TTNorms-Regular.eot");
	src: local("TT Norms Regular"), local("TTNorms-Regular"),
		url("TTNorms-Regular.eot?#iefix") format("embedded-opentype"),
		url("TTNorms-Regular.woff2") format("woff2"),
		url("TTNorms-Regular.woff") format("woff"),
		url("TTNorms-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
