@import url("common.module.css");
.report_add{
    composes: bg from "common.module.css";;
    border: 1px dashed #939DA6;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.calibrationReport{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 40px;
    top: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.report_add table{
    position: absolute;
    left: 41px;
    top: 86px;
    bottom: 60px;
    height: 514px;
    width: 840px;
    border-collapse: collapse;
}
.report_add tbody{
    position: absolute;
    top: 24px;
    left: 0;
    color: #353535;
}

.report_add td {
    height: 100px;
    padding-top: 20px;
    vertical-align:top;
}

tr{
border-bottom: 1px dashed #E9E9E9;
}
thead{
    height: 30px;
    line-height:15px;
    font-size: 13px;
    vertical-align:top;
    padding-top:0;
    color: #939DA6;
}

img{
    width: 16px;
    height: 16px;
    vertical-align:top
}
.img1{
    padding-left: 20px;
}
