.span1 {
    font-size: 16px;
    font-weight: 500;
    font-family: "TT Norms";
    line-height: 19px;
}

.span-2 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.span-3 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.span-4 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.span-5 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.div-1 {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px 189px 0px 140px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.span-6 {
    font-size: 16px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 19px;
}

.span-7 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-1 {
    background: #6bae45;
    width: 16px;
    height: 16px;
}

.span-8 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-2 {
    width: 16px;
    height: 16px;
}

.span-9 {
    font-size: 12px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 14px;
}

.div-2 {
    display: flex;
    padding: 0px;
    margin: 0px -1px 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.div-3 {
    border: 1px dashed #e9e9e9;
    width: 820px;
    height: 0px;
}

.span-10 {
    font-size: 16px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 19px;
}

.span-11 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-3 {
    background: #6bae45;
    width: 16px;
    height: 16px;
}

.span-12 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-4 {
    width: 16px;
    height: 16px;
}

.span-13 {
    font-size: 12px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 14px;
}

.div-4 {
    display: flex;
    padding: 0px;
    margin: 0px -1px 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.div-5 {
    border: 1px dashed #e9e9e9;
    width: 820px;
    height: 0px;
}

.span-14 {
    font-size: 16px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 19px;
}

.span-15 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-5 {
    background: #6bae45;
    width: 16px;
    height: 16px;
}

.span-16 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}

.img-6 {
    width: 16px;
    height: 16px;
}

.span-17 {
    font-size: 12px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 14px;
}

.div-6 {
    display: flex;
    padding: 0px;
    margin: 0px -1px 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.div-7 {
    border: 1px dashed #e9e9e9;
    width: 820px;
    height: 0px;
}

.span-18 {
    font-size: 16px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 19px;
}

.span19 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms";
    line-height: 15px;
}


.span20 {
    font-size: 13px;
    font-weight: 400;
    font-family: "TT Norms", serif;
    line-height: 15px;
}

.span21 {
    font-size: 12px;
    font-weight: 400;
    font-family: "TT Norms", serif;
    line-height: 14px;
}

.div8 {
    display: flex;
    padding: 0px;
    margin: 0px -1px 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.div9 {
    border: 1px solid #939da6;
    background: #ffffff;
    display: flex;
    gap: 19px;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}