.app-wrapper{
    position: relative;
    width: 1000px;
    height: 1282px;
    background: #FFFFFF;
}
.deviceInfo{
    position: absolute;
    width: 550px;
    height: 330px;
    left: 400px;
    top: 140px;
}

.unitName{
    position: absolute;
    width: 320px;
    height: 80px;
    left: 50px;
    top: 140px;
}

.reportFilters{
    position: absolute;
    width: 221px;
    height: 229px;
    left: 50px;
    top: 250px;
}

.report{
    position: absolute;
    width: 900px;
    height: 660px;
    left: 50px;
    top: 516px;
}

.filterDevices{
    position: absolute;
    width: 320px;
    height: 90px;
    left: 50px;
    top: 30px;
    margin-bottom: 20px;
}